* {
    box-sizing: border-box;
}

html {
    font-family: monospace;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.clock {    
	font-size: 10em;
	margin: 0 auto;
	color: white;
	display: block;
	height: 50vh;
	overflow: hidden;
	background-color: red;
	background-image:linear-gradient(45deg,red, #f06d06);
}



.clock:hover {
	background-color: green;
}