* {
    box-sizing: border-box;
}

html {
    font-family: monospace;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.clockContainer {
	position: relative;
	height: 100vh;
	/*background-image:linear-gradient(45deg,#AA076B, #F09819);*/
	background: #FFB347;

}

.clock {
	position: absolute;
	font-size: 5vh;
	color: white;
	display: inline-block;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.progressBarContainer {
    position: absolute;
    bottom: 40%;
    left: 25%;
    width: 50%;
    height: 10px;
    background-color: grey;
    border-radius: 10px;
}
.progressBar {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
    border-radius: 10px;
}

.clock:hover {
	background-image:linear-gradient(45deg,#DD2476, #F11712);
}